- if can? :update, @music

  %h2 Edit Track

  = render 'form'

  %p

  = link_to 'Remove Track', @music, method: :delete, confirm: "Are you sure you'd like to remove #{@music.title}? There's no undo!"
