- if can? :update, @user

  %h2 Edit Account

  = render 'form'

  %p

  = link_to 'Remove Account', @user, method: :delete, confirm: "Are you sure you'd like to remove your account? There's no undo!"
