.row
  .col-md-11.col-md-offset-1

    = image_tag 'jams.png', height: 500

    %h1
      the latest music community
      %br/
      for budding creatives everywhere

    %h4
      = link_to 'Sign up now', signup_path
      or
      = link_to 'check out our latest music addition.', music_path(@latest_music)
