- if can? :update, @profile

  %hr/

  %h2 Edit Profile

  = render 'form'

  %p

  = link_to 'Remove Profile', @profile, method: :delete, confirm: "Are you sure you'd like to remove your profile? There's no undo!"

  %hr/
