footer {
  background-color: darken(#e6e6e6, 10%);
  color: #666666;
  padding: 15px;
  margin-top: 20px;
  clear: both;
  position: relative;
  z-index: 10;
  height: 3em;
}

p {
  font-size: 14px;
}

.flash {
  color: orange;
}

#user-profile {
  background-color: #e6e6e6;
}

#user-music {
  border: 1px solid #e6e6e6;
}

#music {
  background-color: #e6e6e6;
  opacity: 0.9;
  padding: 20px;
}

.front-image {
  text-align: center;
  }

img.center {
    display: block;
    margin: 0 auto;
}
