footer {
  background-color: darken(#e6e6e6, 10%);
  color: #666666;
  padding: 15px;
}

#user-profile {
  background-color: #e6e6e6;
}

#user-music {
/*  border: 1px solid #e6e6e6;*/
}

p {
  font-size: 16px;
}

.left {
  float: left;
}


.flash {
  color: orange;
}
